.itemCountContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemCountContainer div {
  display: flex;
  margin: 5px;
}

.itemCountContainer button{
  margin: 5px;
}

.itemCounter{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.itemCounter h5{
  margin: 10px;
}
